---
layout: base
---

<div class="container-fluid">
  <div class="header">
    <H1><a href="http://ags.aarongs.org/"><span style="color:green">Inicio</span><span style="color:black">|</span><a href="https://trayectoria.aarongs.org/"><span style="color:green">Trayectoria</span><span style="color:black">|</span><a href="https://AaronGS1999.github.io/aarongs.github.io/Publicaciones.html"><span style="color:green">Publicaciones</span></H1>
    <H2><span style="color:green">{{ site.title }}</span></H2>
      {% if site.linkedin %}
        For professional milestones, see <a href="{{site.linkedin}}" target="_blank" rel="noopener noreferrer">LinkedIn</a>.
      {% endif %}
    </p>
  </div>

  <ul class="timeline timeline-split">
    {% for period in site.periods %}
      {% if period.name %}
        <li class="timeline-item period">
          <div class="timeline-info"></div>
          <div class="timeline-marker"></div>
          <div class="timeline-content">
            <h2 class="timeline-title">{{ period.name }}</h2>
          </div>
        </li>
      {% endif %}
      {% for event_hash in period.events %}
        {% for event in event_hash %}
        <li class="timeline-item">
          <div class="timeline-info">
            <span>{{ event[0] }}</span>
          </div>
          <div class="timeline-marker"></div>
          <div class="timeline-content">
            <h3 class="timeline-title">{{ event[1] }}</h3>
          </div>
        </li>
        {% endfor %}
      {% endfor %}
    {% endfor %}

    {% if site.show_today %}
      <li class="timeline-item inactive">
        <div class="timeline-info">
          <span>Today</span>
        </div>
        <div class="timeline-marker"></div>
        <div class="timeline-content">
          <h3 class="timeline-title">&nbsp;</h3>
        </div>
      </li>
    {% endif %}
  </ul>

  <a id="bottom"></a>
  <p class="footer">
  </p>
</div>
